extends level-2.jade

block contents
    div.page-content
        div.page-wrapper
            | This can contain stuff

block subtitle
    | This is A SUBTITEL!!!

table
    tr
        td
        td
    tr
        td
        td